<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.slip.mapper.SlipMapper">

	<select id="selectAll">
		SELECT *
		FROM   slip
	</select>
	
	<insert id="insert">
		INSERT INTO slip (slip_no
						, slip_amount
						, slip_dt
						, sal_dt
						, customer
						, bank_acct)
		VALUES          (#{slipNo}
						,#{slipAmount}
						,#{slipDt}
						,#{salDt}
						,#{customer}
						,#{bankAcct})
	</insert>

</mapper>